
.Main
  .RightHeader
    .RightHeader__Group
      .RightHeader__GroupName
        = @group.name
      .RightHeader__MemberList 
        = "Member:" + @group.users.pluck(:name).join(", ")
    = link_to edit_group_path(@group) do
      .RightHeader__EditBtn Edit
  .MessageField
    = render @messages
  .Footer
    = form_with model: [@group, @message], html: {class: "Form"}, local: true, id: "new_comment" do |f|
      .InputBox 
        = f.text_field :content, class: 'InputBox__Text', placeholder: 'type a message'
        = f.label :image, class: 'InputBox__Image' do
          = icon('far', 'image', class: 'InputBox__Icon')
          = f.file_field :image, class: 'InputBox__ImageFile'
      = f.submit 'Send', class: 'SubmitBtn'